html,.container{
    height: 100%;
    font-family: "Kootenay W04","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
body {
    margin: 0;
    height: 100%;
    background-color: #f2eee8 ;
}
header{
    position: fixed;
    width: 100%;
    background-color: #fffbf5;
    height: 60px;
    border-bottom: 4px solid #F2EEE8;
    z-index: 2;
}
.icon {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    display: inline-block;
}
.header-left .icon {
    background-color: #81a8ca;
    margin: 15px 0 0 15px;
    color: #fffbf5;
}
header .header-left {
    height: 60px;
    width: 60px;
    border-right: solid 1px #e4e0da;
    float: left;
}
.header-left span {
    left: 8px;
    position: relative;
    top: 7px;
}
.header-center span {
    position: relative;
    top: 7px;
    color: #605e58;
}
header .header-center {
    float: left;
    width: 70%;
    text-align: center;
    margin-top: 15px;
}
header .header-right {
    float: right;
    width: 260px;
}

.header-center .icon {
    float: left;
    border: solid 1px #e4e0da;
    margin: 0 10px 0 10px;
}
.twitter-icon {
    position: relative;
    left: 80px;
}

.twitter-icon span {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: #81a8ca;
}

.search {
    display: inline-block;
    border: solid 1px #e4e0da;
    width: 150px;
    border-radius: 20px;
    height: 28px;
    position: relative;
    left: 40px;
    top: 16px;
    color: #e4e0da;
}
.search input {
    background: transparent;
    border: none;
    font-size: 13px;
    margin: 5px 0 0 10px;
}

.search .fa-search {
    position: relative;
    bottom: 17px;
    left: 126px;
}

.pic img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    left: 50px;
    top: 8px;
}

.container .left {
    position: fixed;
    float: left;
    width: 270px;
    height: 100%;
    background-color: #81a8ca ;
    text-align: center;
    color: #ffffff;
    top: 62px;
}
.container .center {
    overflow: scroll;
    height: 100%;
    position: absolute;
    left: 270px;
    top: 60px;
    right: 270px;
    bottom: 0;
    padding: 30px 30px 0 30px;
    text-align: center;
}
.container .right {
    width: 270px;
    height: 100%;
    float: right;
    position: fixed;
    top: 62px;
    right: 0;
    background-color: #fffbf5;
}

.left .photo {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin-top: 50px;
}

.container .describe {
    margin: 0 10px 0 10px;
    padding: 0 12px 0 10px;
    font-size: 14px;
    color: #f2f6f9;
    line-height: 20px;
}
.link {
    color: #f2f6f9;
    text-decoration: none;
    font-size: 13px;
}
.left .blog-url {
    display: inline-block;
    margin: 30px 0 20px 0;
}
.left .follow-btn {
    background-color: #6D94B6;
    display: block;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    margin-left: 75px;
}
.follow-btn .link{
    position: relative;
    top: 7px;
}
.pic-wall {
    margin-top: 30px;
}
.pic-wall img{
    float: left;
    display: inline-block;
    width: 90px;
    height: 90px;
}
.left .activity {
    display: inline-block;
    margin-top: 20px;
}
.center .pv_count {
    display: inline-block;
    background-color: #fffbf5 ;
    width: 100%;
    height: 75px;
    margin-bottom: 30px;
}
.pv_count div {
    display: inline-block;
    width: 25%;
    float: left;
}
.center .main-content {
    display: inline-block;
    background-color: #fffbf5;
    height: auto;
    width: 100%;
}
.twitter-pic {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    float: left;
    display: inline-block;
    margin: 20px 13px 20px 20px;
}
.blog {
    display: inline-block;
    float: left;
    margin: 27px 8px 30px 0;
    width: 80%;
}
.blog .name {
    float: left;
}
.blog .notice {
    float: left;
    color: #c3beae;
    margin-left: 3px;
    font-size: 13px;
}
.blog .time {
    float: right;
    color: #c3beae;
    font-size: 14px;
}
.blog .content {
    overflow: hidden;
    clear: both;
    margin: 12px 0 12px 0;
    display: inline-block;
    text-align: left;
    line-height: 20px;
    color: #767671;
    font-size: 14px;
}
.blog .footer {
    text-align: left;
    color: #c6c1b1;
}
.blog .footer label {
    font-size: 14px;
}
.blog .footer span {
    margin: 0 5px 0 5px ;
}
.footer .fa-resize {
    float: right;
}
.right .link {
    color: #81a8ca;
    display: block;
    margin: 5px 0 0 25px;
    font-size: 14px;
    line-height: 17px;
}
.right p {
    margin: 30px 0 20px 25px;
    font-size: 15px;
    color: #86847f;
}
.follower-list {
    margin: 20px 40px 20px 0;
}
.follower {
    height: 60px;
}
.follower-list p {
    display: inline-block;
}
.follower-list .more {
    margin-left: 39px;
    color: #81a8ca;
    font-size: 14px;
}
.follower-list .twitter-pic {
    margin: -7px 14px 0 20px;
}
.follower-list label{
    font-size: 14px;
}
.job {
    display: inline-block;
    color: #c3beae;
}
.add-icon {
    position: relative;
    float: right;
    width: 16px;
    height: 16px;
    border: solid 1px #e4e0da;
    bottom: 19px;
}

.add-icon .fa-plus{
    left: 4px;
    position: relative;
    font-size: 13px;
    bottom: 1px;
    color: #9e9c96;
}
.pv_count .title {
    margin-top: 22px;
    margin-bottom: 0;
    display: inline-block;
    color: #cdc8ba;
    font-size: 13px;
}
.pv_count .number {
    margin-top: 5px;
    color: #45433c;
    font-size: 14px;
}
.follower .name {
    color: #767671;
}
.blog .header {
    font-size: 13px;
}
.blog .header .fa-refresh {
    float: left;
    color: #d2dfbd;
    margin-right: 3px;
}
.blog video {
    margin: 10px 0 10px 0;
    width: 100%;
    height: auto;
}
.bold,.pv_count .number, .blog .name {
    font-weight: 600;
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
   .container .right {
       position: absolute;
       left: 0;
       top: 703px;
       width: 240px;
   }
    .container .right .header{
        display: none;
    }
    .container .left {
        width: 240px;
    }
    .container .center {
        right: 0;
        left: 240px;
        padding: 30px 0 0 30px;
    }
    header .header-center {
        width: 35%;
    }
    .pic-wall img {
        width: 80px;
        height: 80px;
    }
    .left .follow-btn {
        margin-left: 60px;
    }
    .blog {
        width: 77%;
    }
    .follower-list .more{
        margin-left: 19px;
    }
    .follower-list {
        margin: 20px 30px 20px 0;
    }
}
@media screen and (max-width: 640px) {
    .container .left,.container .right {
        display: none;
    }
    .container .center {
        width: 100%;
        left: 0;
        padding: 0;
    }
    header .header-center {
        margin-top: 8px;
        width: 68%;
    }
    .header-center .icon {
        display: none;
    }
    .header-right .search {
        display: none;
    }
    header .header-right {
        width: auto;
        float: none;
        margin-right:  10px;
    }
    .center {
        margin-top: 30px;
    }
    .twitter-icon {
        left: 30px;
    }
    .center .pv_count {
        height: auto;
    }
    .pv_count div {
        width: 100%;
    }
    .pv_count .tweets {
        border-bottom: 4px solid #98adc1;
    }
    .blog {
        width: 74%;
    }
    .pic img {
        left: 30px;
    }
    .twitter-icon {
        left: 0;
    }
    .pic img {
        left: 0;
    }
}